
.navbar-inverse{
    
	background-color: #F5A42B;    

}
body{
	color:#1D6505;
	font-family: fantasy;
	font-size:18px;

}
h1{
	color:#EEDB11;
}

/* Boton cerrar archivos */
.cerrar{
	background-color: #7EDA82;
	border-radius: 8px;
	font-size: 18px;
}

/* Ventana con archivos PDF*/
div.archivos{
	width:100%; 
	background-color:rgba(236, 144, 45, 0.9);
	z-index:3; 
	position:fixed;
	left:0;
	top:0; 
	height:100%;
	visibility:hidden;
}

.button {
    background-color: #FAB70F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Verdana", sans-serif;
}

p.participar{
	font-size:24px;
}





	

